node_modules
config.json
Haggstrom.oga
Haggstrom.ogg
switch.js
vc_mario_001.mp3
vc_mario_001.ogg
video0.mp3
video0.mp4
what.html
ffmpeg
ytdl-core.zip
birdycopy.js
fetch.js
ytdl-coresomething.zip
gru
discord.js(pull request)
